<h1>About Me</h1>
<hr>
<div class="row">
  <div class="col-md-4 profile-img">
    <%= image_tag "profile.png", width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p class="about-paragraphs">
      Hey, welcome to the about me page that’s all about me. Thank you for stopping by to check it out. Incase you didn’t catch it, my name is Brian, I live in Arizona, and I build beautiful websites, front to back. Along with being a coding wizard who turns patience into software, I’m a kickass father and husband, I’m a life long guitarist, and I like being a nice guy too. I also, love love, yoga, food, meditation, video games, and learning any and all things; I’m a huge proponent of using your spare to time to take that extra step and learn something new.
    </p>
    <p class="about-paragraphs">
      I’m well trained Ruby on Rails developer with over a year of programming experience. I have several awesome projects that can be accessed on my portfolio page. Along with Ruby, Rails, and Ruby on Rails, I like to play around with Javascript, React, and NodeJS, and know my way around WordPress pretty well. For more info you can get ahold of me via my contacts, on the contact page.
    </p>
  </div>
</div>

