<div class="background-overlay">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <p class="lead">Hey there, feel free to look around, this is a Ruby on Rails application, styled with Bootstrap 4 and CSS, it's acting as the portfolio page for Brian Haltom</p>
    <p class="lead">
      <%= link_to  "Learn More About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>
</div>