@import "bootstrap";
@import "font-awesome";
@import "gritter";
@import "config";

/*
 * Globals
 */

h1, .h1
h2, .h2
h3, .h3
h4, .h4 {
  font-family: 'Wendy One', sans-serif;
}

h5, .h5,
h6, .h6 {
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
 * Custom Styles
 */
.container {
  max-width: 55em;
}

.card {
  margin: 2em 0 2em 0;
}
.card-body {
  color: #000;
  text-align: left;
}
.auth-links {
  margin-top: 1em;
  a {
    color: #000;
  }
}
.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}
.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

.about-paragraphs {
  text-align: justify;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('cover2.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
}

.app-footer {
  color: #fff;
}
.background-overlay {
  background-color: rgba($color: #000000, $alpha: 0.9);
  padding: 1em;
  margin-bottom: -1em;
  margin-right: -1em;
}
.outer-cover-div {
  margin-left: -1em;
  border-left: solid $highlight-text 3px;
  border-top: solid $highlight-text 3px;
  padding-left: 8px;
  padding-top: 8px;
}
.about-img {
  border-radius: 10px;
  border: 1px solid #fff;
}
.contact-styles {
  text-align: left;
  p {
    color: $highlight-text;
  }
  a {
    color: $highlight-text;
    &:hover {
      color: $highlight-text;
    }
  }
}

.about-btn {
  margin-top: 10px;
  background-color: $highlight-text;
  color: #000;
  &:hover {
    color: #000!important;
    background-color: $highlight-text;
  }
}
.card-block {
  color: #000;
  padding: 5px;
  text-shadow: none;
}
.about-toggle-btns {
  text-align: left;
}
.nav-link {
  transition: color 1s;
  &:hover {
    color: $highlight-text !important;
  }
}
.last-name {
  color: $highlight-text;
}
.progress {
  width: 100%;
}
.skill {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-brand {
  font-family: 'Wendy One', sans-serif;
  font-size: 35px;
}
.btn-about {
  background-color: $highlight-text;
  color: #000;
  text-shadow: none;
  box-shadow: 8px 8px rgba($highlight-text, 0.0);
  transition: box-shadow 2s;
  border-radius: 0;
  &:hover {
    box-shadow: -4px -4px rgba(255, 255, 255, 1.0);
  }
}

.google-map iframe {
  width: 100%;
}

.about-links {
  color: $highlight-text;
}

.social-links {
  text-align: center;
  margin-bottom: -5px;
  ol li {
    text-align: center;
    display: inline;
    font-size: 7vh;
    margin-right: 25px;
    margin-left: 10px;
  }
}