@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";
@import "gritter";
@import "config";

:root {
  --jumbotron-padding-y: 3rem;
}

body {
  font-family: 'Lato', sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: 'Acme', sans-serif;
}

h5, .h5,
h6, .h6 {
  font-family: 'Lato', sans-serif;
}


.album {
  background: #000 !important;
}

.navbar-brand {
  margin-bottom: -5px;
  margin-top: 5px;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/*
 * Custom Styles
 */
.portfolio-container {
  padding-top: 20px;
}

.nav-brand {
  font-family: 'Acme', sans-serif;
}

.link-btns a {
  background-color: $highlight-text;
  color: #000;
}

.card-title-portfolio a {
  color: #000 !important;
  font-weight: 700;
  text-shadow: none !important;
}

.card-body {
  background-color: #f2f2f2;
}

.navbar {
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.5);
}